# Discord bot token
DISCORD_TOKEN="TOKEN"

# Bot owners (space seperated)
OWNERS=USER_ID_1 USER_ID_2

LAVALINK_HOSTS="NODE-1_10.0.0.201_2333_youshallnotpass,NODE-2_10.0.0.202_2333_youshallnotpass"

# Bot status/activity (seperated by comma)
# - Placeholders -
# %guilds% %users% %players% %ping%
# %uptime% %version% %branch% %bot_name%
BOT_ACTIVITY=/재생 | %bot_name% %version%, /도움말 | %bot_name% %version%, /재생 | %ping%, %bot_name% %version% (%branch%)

# Minimum logging level
# 1 = Trace, 2 = Debug, 3 = Info, 4 = Warn, 5 = Error, 6 = Fatal
LOGLEVEL=2

# Redis URL
REDIS_URL=redis://localhost:6379
# Database connection (PostgreSQL)
# See docs: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sirubot"
# Development specific command only working on this guilds
DEV_GUILD_IDS=GUILD_ID_1 GUILD_ID_2

# Uncomment to register/update slash commands
REGISTER_COMMANDS=true

# Production shard-manager settings
# SHARD_MANAGER_URL=ws://localhost:3001/ws
# AUTH_KEY=youshallnotpass
# SHARD_IDENTIFY_RETRY_MS=5000
