# Server listen port
PORT=3000
# Discord bot token
DISCORD_TOKEN=TOKEN
# Shard count, if shard count is "auto" server will request to discord gateway
SHARD_COUNT=auto
# Log level
LOGLEVEL=info
# Auth for shard manager
AUTH_KEY=youshallnotpass
# Notifier
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1234567890